@import "scss/variables.scss";
@import "scss/normalize.scss";

html {
  font-size: $font;
  background-color: $bg;
  min-width: 1200px;
}
// #app {
//     background-color: $bg;
// }

html, body, div {
  margin: 0;
  padding: 0;
}

.block-containter {
  background-color: #fff;
  padding: $blockWidth;
}
.flex {
  display: flex;
}