@import "scss/variables.scss";

.block-containter {
  background-color: #fff;
  padding: $blockWidth;
}
.btnLists {
  & .el-button {
    font-size: 18px;
    color: #333333;
    &+.el-button {
        margin-left: 10px;
    }
  }
}
.m-container {
  background-color: #fff;
  padding: 16px;
}
.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
}