@import "scss/variables.scss";
$menu-active-color: #FFFFFF;
/* 充值侧边栏的右边线为0 */

.el-menu {
  border-right: 0 !important;
}

/* 重置头部 用户名菜单 选中的颜色 */

.el-menu--horizontal>.el-submenu.is-active .el-submenu__title {
  border-bottom: none;
  color: $menu-active-color;
}

.el-menu--horizontal .el-menu .el-menu-item.is-active,
.el-menu--horizontal .el-menu .el-submenu__title.is-active {
  color: $menu-active-color;
}

/* 重置普通按钮宽度为96，加图标设置为120 */

.el-button--primary,
.el-button--default {
  line-height: $buttonLineHeight;
  padding: 0;
  width: 96px;
}

.el-button--have-icon {
  width: 120px;
}

/* 重置input框高度，这里不能写成!important，select多选框会出问题 */

.el-input__inner {
  line-height: $buttonLineHeight;
  height: $buttonLineHeight;
}

/* input框的icon */

.el-input__icon {
  line-height: $buttonLineHeight;
}

/* 重置外部引用icon */

.el-submenu [class^=icon-],
.el-menu-item [class^=icon-] {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center; // font-size: 18px;
  font-size: 16px;
}

/* 导入icon和element icon的样式同步 */

[class*=" icon-"],
[class^=icon-] {
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 左侧菜单栏二级目录间距 */

.sub-menu {
  padding-left: 52px !important;
}

/* 重置进度条内的字体大小 */

.el-progress__text {
  font-size: 28px !important;
}

/* 时间弹窗的优化 */

.el-date-editor .el-range__icon,
.el-date-editor .el-range__close-icon {
  line-height: 24px;
}

.el-date-editor .el-range-separator {
  line-height: 24px;
}

/* sidebar选中状态加背景 */

.el-menu-item.is-active {
  background-color: #e6f7ff;
}

/* 去除整体布局el-scrollbar滚动条，并且不影响到其他el-scrollbar__wrap组件 */

.app-aside-scroll>.el-scrollbar__wrap,
.app-menu>.el-scrollbar__wrap {
  overflow-x: hidden;
}

/* table tr 背景颜色 */

.el-table thead tr th {
  background-color: #F7F8FC;
}

/* 重置时间选择框大小 */

.el-date-editor.el-input {
  width: 160px;
}

/* table th 不加粗 */

.el-table thead tr th {
  font-weight: 400;
}

/* table th 高度设置为 50 */

.el-table td,
.el-table th {
  padding: 8px 0;
}

/* dialog弹窗的按钮左对齐 */

.el-dialog__footer {
  text-align: left !important;
}
.el-dialog--center .el-dialog__body {
  padding: 20px 20px 0 20px;
}

/*Button*/

.el-button--primary {
  background-color: $primary-background-color;
  &.is-disabled {
    background-color: $primary-disabled-border-color;
    border-color: $primary-disabled-border-color;
    &:active,
    &:focus,
    &:hover {
      background-color: $primary-disabled-border-color;
      border-color: $primary-disabled-border-color;
    }
  }
}

.el-button--default {
  color: $primary-color;
  border-color: $primary-border-color;
  &:focus,
  &:hover {
    color: #FFFFFF;
    border-color: $primary-border-color;
    background-color: $primary-background-color;
  }
}

.el-button--text {
  color: $primary-color;
}

/*Tab*/

.el-tabs__item {
  &:hover,
  &.is-active {
    color: $primary-color;
  }
}

.el-tabs__active-bar {
  background-color: $primary-background-color;
}

/*表单 组件*/

.el-radio-button__orig-radio:checked+.el-radio-button__inner {
  background-color: $primary-background-color;
  border-color: $primary-border-color;
}

.el-radio__input.is-checked {
  &+.el-radio__label {
    color: $primary-color;
  }
  .el-radio__inner {
    border-color: $primary-border-color;
    background: $primary-background-color;
  }
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus,
.el-textarea__inner:focus {
  border-color: $primary-border-color;
}

.el-select {
  .el-input__inner:focus,
  .el-input.is-focus .el-input__inner{
    border-color: $primary-border-color;
  }
}
.el-select-dropdown__item.selected {
  color: $primary-color;
}

/* 表单错误提示 */

.el-form-item.is-error {
  .el-input__inner,
  .el-input__inner:focus,
  .el-textarea__inner,
  .el-textarea__inner:focus {
    border-color: $danger-color;
  }
}

.el-message-box__input input.invalid,
.el-message-box__input input.invalid:focus {
  border-color: $danger-color;
}

.el-form-item.is-success {
  .el-input__inner,
  .el-input__inner:focus,
  .el-textarea__inner,
  .el-textarea__inner:focus {
    border-color: $success-color;
  }
}

.el-form-item__error {
  color: $danger-color;
}

/* 日期选择器 */

.el-date-table td {
  &.current:not(.disabled) span,
  &.start-date span,
  &.end-date span {
    background-color: $primary-background-color;
  }
  &.today span,
  &.available:hover {
    color: $primary-color;
  }
}

.el-range-editor.is-active,
.el-range-editor.is-active:hover {
  border-color: $primary-border-color;
}

/*分页*/

.el-pager li {
  &:hover,
  &.active {
    color: $primary-color;
  }
}

.el-pagination__sizes .el-input .el-input__inner:hover {
  border-color: $primary-border-color;
}
