// 存放系统级的变量，比如通用颜色，通用字体大小

$headerBg: #292c31;
$bg: #f6f6f6;
$font: 14px;

// 间距
$blockWidth: 16px;
$fontWidth: 8px;

// 不超过4个字的按钮宽度
$buttonWidth: 96px;

// 按钮颜色
$buttonColor: #3778FF;
$buttonLineHeight: 32px;

