@import '@/assets/scss/variables.scss';
.apply {
  .data-title {
    font-size: 18px;
    font-weight: 400;
  }
  .cancel {float: right; color: #3778FF;}
  .base-info {
    > .el-form-item {
      display: flex !important;
    }
    .flex-row {
      display: flex !important;
      justify-content: space-between;
      flex: 1;
    }
    .el-form-item__label {
      width: 93px;
      text-align: right;
      .el-checkbox {
        min-width: 90px;
      }
    }
  }
  > .el-form-item {
    display: flex !important;
  }
  .all-label {float: left; margin-right: 36px;}
  .detail-set {
    > .el-form-item {
      display: flex;
      padding: 0 59px 0 10px;
      > .el-form-item__label {
        min-width: 83px;
        text-align: right;
      }
      > .el-form-item__content {
        > div {
          width: 970px;
        }
      }
    }
    .el-checkbox {
      min-width: 90px;
    }
    .blue {
      background: #E6F7FF;
    }
    .el-checkbox {margin-left: 0; margin-right: 30px;}
  }
}
.multilevel-linkage {
  position: relative;
  .tag-list {
    position: absolute;
    top: 0;
    left: 0;
  }
}